<div style="margin-right: 10pt;">
    <figure>
        <img src="{{ include.img }}" width="170" height="170" style="object-fit: cover"/>
        <figcaption>
            {% if include.url != null %}
            <a href="{{ include.url }}" target="_blank">{{ include.name }}</a>
            {% else %}
            {{ include.name }}
            {% endif %}
            <br>
            {{ include.position }}
            <br>
            {% if include.position2 != null %}
            {{ include.position2 }}
            {% endif %}
        </figcaption>
    </figure>
</div>